<h1><a href="/">Trip Logger</a></h1>

<h2>All <%= @sport.name %> trips:</h2>

<form action="/trips/<%= @sport.slug %>/state" method="post">
  
  <select name="state_id">
    <% @states.each do |state| %>
      <option value="<%= state.id %>"><%= state.name %></option>
    <% end %>
  </select>
  <button type="submit">Filter by State:</button>
</form>

<ol>
<% @trips.each do |trip| %>
  <li><a href="/user/<%= trip.user.slug %>"><%= trip.user.username %></a> in <a href="/trips/by-state/<%= trip.state.slug %>"><%= trip.state.name %></a> logged:</li>
  "<%= trip.about %>"<br>
  <% if current_user == trip.user %>
    <a href="/trip/<%= trip.id %>/edit">Edit</a> trip<br>
  <% end %></p>
<% end %>
</ol>