All <%= @sport.name %> trips:

<form action="/trips/<%= @sport.slug %>/state" method="post">
  
  <select name="state_id">
    <% @states.each do |state| %>
      <option value="<%= state.id %>"><%= state.name %></option>
    <% end %>
  </select>
  <button type="submit">Filter by State:</button>
</form>

<ol>
<% @trips.each do |trip| %>
  <li><%= trip.user.username %> in <a href="/trips/by-state/<%= trip.state.slug %>"><%= trip.state.name %></a> logged:</li>
  "<%= trip.about %>"</p><br>
<% end %>
</ol>