<h1><a href="/">Trip Logger</a></h1>


All trips in <%= @state.name %>:

<form action="/trips/<%= @state.slug %>/sport" method="post">

  <select name="sport_id">
    <% @sports.each do |sport| %>
      <option value="<%= sport.id %>"><%= sport.name %></option>
    <% end %>
  </select>
  <button type="submit">Filter further by Sport:</button>
</form>

<ol>
<% @trips.each do |trip| %>
  <li><a href="/user/<%= trip.user.slug %>"><%= trip.user.username %></a> logged:</li>
  "<%= trip.about %>"<br>
  See more <a href="/trips/by-sport/<%= trip.sport.slug %>"><%= trip.sport.name %></a> trips</p><br>
<% end %>
</ol>