<h1><a href="/">Trip Logger</a></h1>

All <%= @sport.name %> trips in <%= @state.name %>:
<ol>
<% @trips.each do |trip| %>
  <li><a href="/user/<%= trip.user.slug %>"><%= trip.user.username %></a> logged:</li>
  "<%= trip.about %>"<br>
  <% if current_user == trip.user %>
    <a href="/trip/<%= trip.id %>/edit">Edit</a> trip
  <% end %><br>
<% end %><br>
</ol>